@import url('https://fonts.googleapis.com/css?family=Raleway:100');
* {
    margin: 0;
    padding: 0;
    /**
     * Tahoma is the default font for content
     */
    font-family: 'Tahoma', 'Montserrat', sans-serif, 'Noto Sans', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Tahoma';
    font-weight: inherit
}

h1 {
    /**
     * Montserrat is the default font for title
     */
    font-family: 'Montserrat', sans-serif !important;
}


/**
 * Below styles could be deleted
 */

body {
   
    align-items: center;
    justify-content: center;
	
}
#header{
	background-color: rgba(26,26,26,1.00);
	height:60px;
	width:100%;
	display:flex;
	position:fixed;
	z-index:30;
}

#logo{
	position:relative;
	top:12px;
	left: 30px;
	width:100px;
	
}

#logo img{
	height:60%;
	width:auto;
}

#menu{
	margin-left:75px;
	padding-top:15px;
	min-width:360px; 
	text-align:center;
}
ul{
	list-style-type:none;
	padding-left:15px;
}
ul li{ 
	float:left;
	margin-left:5px;
	
}
.whiteCha{
	color: rgba(254,254,253,1.00)}

li .whiteCha{
	margin-left:8px;
	position:relative;
	bottom:6px;
}
#menu li img{
	margin-top:3px;
	height:57%;
}

#submenu{
	min-width:160px;
	margin-left:10px;
	padding-top:27px;
}
#submenu .whiteCha{
	position:relative;
	bottom:1px;
	font-size:11px;
}

/*#movePart{
	display:flex;
	padding-left:20%
}*/
@media all and (max-width: 750px) {
   
	
}
@media all and (max-width: 900px) {
    #movePart{

	padding-left:10%
}
	
}


#search{
	order:0;
	background-color: #fff;
	min-width:120px;
	max-width:130px;
	height:28px;
	margin-top:16px;
	border-radius:20px;
	
}
.flexbox{
	min-width:40px;
	width:40%;
	max-width:400px;
	height:60px;
}

#search img{
	margin-top:5px;
	margin-left:4px;
}
#search input{
	float:right;
	margin-right:10px;
	margin-left:3px;
	margin-top:2px;
	width:60%;
	border: none;
	height:80%;
	text-align:right;
	font-size:10px;
}

::-webkit-input-placeholder { 
  color: rgba(150,150,150,1.00);
  font-size:16px;
}
#userZone{
	min-width:180px;
	max-width:180px;
	width:170px;
	height:50px;
	position:relative;
	top:20px;
	left:10px;
	
}


#userZone img{
	width:30px;
	margin-top:0px;
	position:relative;
	left:-30px;
	
}
.clear{
	clear:both;
}
.container{
	display:flex;
	flex-direction:column;
	width:87%;
	padding-top:50px;
}

#title {
    font-size:20px;
	font-weight:bolder;
	margin: 50px 0px 0px 130px;
    font-family: 'Raleway', sans-serif;
}
.subtitle{
	background-color:rgba(0,0,0,1.00);
	color:rgba(248,247,247,1.00);
	font-size:20px;
	line-height:24px;
	
	height:40px;
	margin-left:130px;
    margin-top:10px;
}

.subtitle span{
	margin-left:14px;
	position:relative;
	top:7px;
}

.creditContent{
	float:right;
	width:80%;
	padding: 20px 0px;
	border-bottom:2px solid #ddd;
	line-height:30px;
	font-size:18px;
	color:rgba(122,123,121,1.00);
}

.creditContent span{
	margin:20px;
}
.creditPicture{
	float:right;
	width:80%;
	padding: 20px 0px;
}

.creditPicture img{
	width:100px;
}

.teamMember{
	margin-top:25px;
}

.teamMember span{
	font-weight:bolder;
	font-size:18px;
	color: rgba(86,83,80,1.00);
}

@media all and (max-width: 800px) {
	.iMosTeam{
	margin-left:100px;
}
}

.iMosTeam{
	margin-left:45%;
	width:500px;
}
.left{
	width:250px;
	float:left;
	/*position:relative;
	left:450px;*/
}

.right{
	float:left;
	width:250px;
	
}